/* ESTILOS GENERALES /////////////  */
html,body{
	width:100%;
  height:100%;
  margin:0px;
  padding:0px;
}
body{
	display:flex;
}
nav{
	flex:1;
  background:teal;
}
main{
	flex:4;
  background:white;
}
/* ESTILOS DEL MENU /////////////  */
nav{
	display:flex;
  padding:20px;
  flex-direction:column;
  gap:20px;
}




