
practica-git-individual/
/Programacion/012 Inteligencia artificial/002 Entrenamiento/venv
Programacion/012 Inteligencia artificial/009-Entrenamiento dia 2/venv
Programacion/012 Inteligencia artificial/009-Entrenamiento dia 2/lora-cpu-lowram
