<style>
      body{
      display:grid;
      grid-template-columns:repeat(7,40px);     //Le decimos que repita 7 dias para no poner 7 autos seguidos
      }
      div{border:1px solid grey; width:40px;height:40px;}
    </style>
